  <nz-layout style="height:100%">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
      <div class="logo" style="text-align: center;padding-top: 15px;">
        <h1 style="color:#fff">logo</h1>
      </div>
    
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-submenu>
          <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
          <ul>
            <li nz-menu-item>Tom</li>
            <li nz-menu-item>Bill</li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #404040; padding:0;">
        <!-- <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;width: 90%;display: inline-block;float: left;">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul> -->
        <nz-dropdown style="line-height: 64px;float: right;margin-right:5%">
          <a class="ant-dropdown-link" nz-dropdown style="color:#fff">
            您好，张三 <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              
              <a target="_blank" rel="noopener noreferrer" (click)="logout()">退出登录</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="#">修改密码</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="#">个人信息</a>
            </li>
          </ul>
        </nz-dropdown>
      </nz-header>
      <nz-content style="margin:0 16px;display: flex;flex: 1;flex-direction: column;">
        <zq-tabs-operation (clickEvents)="clickTag($event)"></zq-tabs-operation>
        <div style="padding:24px; background: #fff; min-height: 360px;height:100%">
          Bill is a cat.
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">Ant Design ©2017 Implement By ZQ Technology</nz-footer>
    </nz-layout>
  </nz-layout>