  <nz-layout style="height:100%">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
      <div class="logo" style="text-align: center;padding-top: 15px;">
        <h1 style="color:#fff">logo</h1>
      </div>
    
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'" >
        <li nz-submenu *ngFor="let menu of menuData">
          <span title><i class="anticon anticon-user"></i><span class="nav-text">{{menu.name}}</span></span>
          <ul *ngFor="let child of menu.children">
            <li nz-menu-item name="leftMenu" (click)="selectMenu(child)">{{child.name}}</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #404040; padding:0;">
        <!-- 此处为横向菜单 如有需要，请取消注释 -->
        <!-- <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;width: 90%;display: inline-block;float: left;">
          <li nz-menu-item>nav 1</li>
          <li nz-menu-item>nav 2</li>
          <li nz-menu-item>nav 3</li>
        </ul> -->
        <nz-dropdown style="line-height: 64px;float: right;margin-right:5%">
          <a class="ant-dropdown-link" nz-dropdown style="color:#fff">
            您好，张三 <i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu>
            <li nz-menu-item style="width:80px">
              <a target="_blank" rel="noopener noreferrer" (click)="logout()"><i class="anticon anticon-logout" style="margin-right: 5px;"></i>退出登录</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="#"><i class="anticon anticon-edit" style="margin-right: 5px;"></i>修改密码</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="#"><i class="anticon anticon-user" style="margin-right: 5px;"></i>个人信息</a>
            </li>
          </ul>
        </nz-dropdown>
      </nz-header>
      <nz-content style="margin:0 16px;display: flex;flex: 1;flex-direction: column;">
        <zq-tabs-operation [currentTab]="currentTab" (closeTabs)="closeTab($event)" (clickEvents)="clickTag($event)"  [tabList]="tabArray"></zq-tabs-operation>
        <div style="padding:24px; background: #fff; min-height: 360px;height:100%">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">Ant Design ©2017 Implement By ZQ Technology</nz-footer>
    </nz-layout>
  </nz-layout>
  <zq-spin [loadSize]="'large'" [closeSpin]="spinStatus" *ngIf="spinStatus"></zq-spin>
  
