.zq-grid-row-btns .ml10{
    margin-left: 10px;
}
.pagitionContainer{
    line-height: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 7px;
}
.pagitionContainer .pageNum{
    padding: 2px 5px;
    text-decoration: none;
    margin: 1px;
    border: 1px solid transparent;
    color: inherit !important;
    outline: none;
    font-weight: normal !important;
    line-height: 14px;
    border-radius: 3px;
    float: left
}
.pagitionContainer .pageNum:hover{
    box-sizing: content-box;
    border-color: #999;
    background: #e8e8e8;
}
.pagitionContainer .currentPage{
    box-sizing: content-box;
    border-color: #999;
    background: #d1d1d1;
}
.pagitionContainer .firstPageBtn{
    padding: 0px;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 3px;
    width: 27px;
    float: left;
    cursor: pointer;
}
.pagitionContainer .lastPageBtn{
    padding: 0px;
    margin-top: 0px;
    margin-left: 3px;
    margin-right: 3px;
    width: 27px;
    float: left;
    cursor: pointer;
}
.pagitionContainer .targrtPge{
    float: left;
    margin-left: 15px;
}
.pagitionContainer .targrtPge input{
    width: 45px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.pagitionContainer .fl{
    float: left;
}
.pagitionContainer .fr{
    float: right;
}
.pagitionContainer .targrtPge button{
    padding: 0px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 3px;
    width: 27px;
    float: left;
    cursor: pointer;
}
.pagitionContainer .pageSizeOption{
    margin-left: 15px;
}
.pagitionContainer .pageSizeOption span{
    line-height: 25px;
    margin-left: 5px;
}
