<div class="zq-container">
    <!-- 查询条件区域 -->
    <div class="zq-search-panel">
        <div class="zq-search-showPart">
            <div class="search-group">
                <p class="context-title">查询日期:</p>
                <div class="context-content">
                  <zq-date-picker (selectDateFun)="getDate($event)"></zq-date-picker>
                </div>
            </div>
            <div class="search-group">
                <p class="context-title">状态:</p>
                <div class="context-content">
                  <zq-select-search (selectCallBack)="getStatus($event)" [placeholder]="'请选择状态'" [selectArry]="statusList"></zq-select-search>
                </div>
            </div>
            <div class="search-group">
                <zq-search-button [moreBtn]="true" (doQuery)="doQuery($event)" (doReset)="doReset($event)" (doExpandMore)="doExpandMore($event)"></zq-search-button>
            </div>
        </div>
        <div *ngIf="!moreStatus" class="more-condition">
            <div class="search-group">
                    <p class="context-title">联系电话:</p>
                    <div class="context-content">
                        <input type="text">
                    </div>
            </div>
        </div>
    </div>
    <!-- 查询结果展示区域 -->
    <div class="zq-content-panel">
         开始时间：<span>{{startDate}}</span>
         结束时间：<span>{{endDate}}</span>
         状态：<span>{{userStatus}}</span>
    </div>
</div>