.search-group {
  display: inline-block;
  line-height: 26px;
  position: relative;
  vertical-align: middle;
  margin-right: 15px;
}
.zq-container .zq-search-showPart {
    margin-left: 20px;
    width: calc(100% - 60px);
  }
.zq-container .more-condition{
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100% - 60px);
}
.zq-container .more-condition input{
   height: 22px;
}
.zq-container .zq-search-panel {
    margin-bottom: 10px;
}
.zq-container .zq-content-panel{
    margin-left: 20px;
    width: calc(100% - 60px);
}
.zq-search-panel .context-title{
    display: inline-block;
    font-weight: bold;
}

.zq-search-panel .context-content{
    display: inline-block;
}